services:
  - type: web
    name: whatsapp-bot
    env: node
    region: oregon
    plan: free
    buildCommand: npm install
    startCommand: npm start
    healthCheckPath: /api/health
    envVars:
      - key: NODE_VERSION
        value: 18
      - key: PREFIX
        value: "!"
      - key: OWNER_NUMBER
        sync: false
      - key: OWNER_NAME
        sync: false
