services:
  - type: web
    name: whatsapp-bot
    env: node
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: NODE_VERSION
        value: 18.18.0
      - key: PREFIX
        value: "!"
      - key: OWNER_NUMBER
        sync: false
      - key: OWNER_NAME
        sync: false
